.box{
    width: 80%;
    margin: 200px auto
}

.content{
    width: 100%;
    overflow: hidden;
    height: 500px;
}

.row{
    width:100%;
    height:100px;
}

.cell{
    width: 20%;
    height: 100px;
    float:left;
    position: relative;
    overflow: hidden;
}

.card{
    width: 100%;
    height: 100%;
    left:0;
    bottom:0;
    top:0;
    position: absolute;
    vertical-align: baseline;
    transition: left 0.7s cubic-bezier(0.06,0.74,0.24,1),top 0.7s cubic-bezier(0.06,0.74,0.24,1);
}

.current{
    z-index:10;
}

.moving{
    z-index: 5;
}
.wait{
    z-index:2;
}


.table{
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell{
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    color: white;
    word-break: normal;
    transition: opacity 1s linear;        
}

.left{
    left:100%;
}

.right{
    left:-100%;
}

.top{
    top:100%;
}

.bottom{
    top:-100%;
}



